<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="VRSuspender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"  />
	</runtime>
 <userSettings>
  <VRSuspender.Properties.Settings>
   <setting name="StartWithWindows" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StartMinimized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StartMonitorOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
  </VRSuspender.Properties.Settings>
 </userSettings>
</configuration>